body{
    background-color: rgb(53, 160, 49);
    
}

.espaçamento{
    padding: 3vh 0 1vh 0;
}

.espaçamento2{
    padding: 3vh 0 1vh 0;
}

.text{ 
    text-align: center;
    font-size: 4vh;
    padding: 10vh 0 1vh 0;
}